<div class="meeting-list">
  <% @meetings.each do |m| %>
    <div class="meeting-time">
      <span class="meeting-time-day">
        <i class="fa fa-clock-o"></i>
        <%= weekday_abbreviation(m.held_at) %>
      </span>
      <% if editable %>
        <span class="meeting-time-long-date muted"><%= date_humanized(m.held_at) %></span>
        <span class="meeting-time-time muted"><%= time_abbreviation(m.held_at) %></span>
        <span class="meeting-time-icons">
          <a href="#edit-meeting-<%= m.id %>-modal" data-toggle="modal"><i class="fa fa-pencil"></i></a>
          <%= link_to '<i class="fa fa-times text-error"></i>'.html_safe, m, method: :delete,
            data: { confirm: "Are you sure you'd like to delete this meeting time?" } %>
        </span>
        <%= render partial: '/meetings/modal_edit_meeting', locals: {meeting: m} %>
      <% else %>
        <span class="meeting-time-date muted"><%= date_abbreviation(m.held_at) %></span>
        <% if m.lessons.blank? %>
        <span class="muted">No Lessons</span>
        <% else%>
          <% m.meeting_lessons.each do |ml| %>
            <span class="label label-info">
              <%= ml.lesson_name %>
              <a href="#remove-meeting-lesson-<%= ml.id %>-modal" data-toggle="modal"><i class="fa fa-times-circle white"></i></a>
            </span>
            <%= render partial: '/meetings/modal_remove_meeting_lesson', locals: {meeting_lesson: ml} %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if editable %>
    <br/>
    <a href="#new-meeting-modal" class="meeting-time" data-toggle="modal">
      <span class="btn btn-success"><i class="fa fa-plus"></i> Add Meeting Time(s)</span>
    </a>
    <%= render partial: 'modal_new_meeting' %>
  <% end %>
</div>