<%= form_for(@assignment) do |f| %>
  <% if @assignment.errors.any? %>
    <div class="alert alert-error">
      <ul>
      <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :course_id %>

  <%= f.label :name do %>
    <span class="field-label">Name</span> <%= f.text_field :name, required: true %>
  <% end %>

  <%= f.label :active_at do %>
    <span class="field-label">Open Date/Time</span> <%= f.text_field :active_at, required: true, value: db_datetime_string(@assignment.active_at) %>
    <span class="help-inline">e.g. "2000-01-01 14:00"</span>
  <% end %>

  <%= f.label :due_at do %>
    <span class="field-label">Due Date/Time</span> <%= f.text_field :due_at, required: true, value: db_datetime_string(@assignment.due_at) %>
    <span class="help-inline">e.g. "2000-01-01 14:00"</span>
  <% end %>

  <%= f.label :fraction_of_grade do %>
    <span class="field-label">Fraction of Grade</span> <%= f.text_field :fraction_of_grade, required: true, class: "input-small" %>
    <span class="help-inline">e.g. "0.2"  (Do not type "20%")</span>
  <% end %>

  <%= f.label :maximum_grade do %>
    <span class="field-label">Maximum Grade</span> <%= f.text_field :maximum_grade, class: "input-small" %>
  <% end %>

  <%= f.label :students_can_submit do %>
    <span class="field-label">Students Submit?</span> <%= f.check_box :students_can_submit %>
  <% end %>

  <h3>Questions</h3>
  <% i = 0 %>
  <div class="questions">
    <%= f.fields_for :assignment_questions do |ff| %>
      <div class="question container">
        <div class="row">
          <div class="span2">
            <%= ff.label :order_number do %>
              <strong class="small-field-label">Q #</strong> <%= ff.text_field :order_number, class: "input-small" %>
            <% end %>
            <%= ff.label :points do %>
              <span class="small-field-label">Points</span> <%= ff.text_field :points, class: "input-small" %>
            <% end %>
          </div>
          <div class="span8">
            <%= ff.text_area :question, rows: 6, class: "input-block-level" %>
          </div>
          <div class="span1">
            <% if ff.object.persisted? %>
              <%= link_to 'Delete', nil, class: "btn btn-danger delete-question" %>
              <%= ff.check_box :_destroy, class: "destroy", hidden: true %>
            <% else %>
              <%= link_to 'Delete', nil, class: "btn btn-danger flush-question" %>
            <% end %>
          </div>
        </div>
      </div>
      <% i += 1 %>
    <% end %>
  </div>
  <%= link_to '<i class="icon-plus"></i> Add Question'.html_safe, nil, class: "btn btn-success new-question", "data-index" => i %>

  <div class="actions">
    <%= f.submit "Save Assignment and Questions", class: "btn" %>
  </div>
<% end %>
