<% status = @assignment.status(current_user)%>

<p><%= link_to back_arrow + "Back to #{@assignment.course_code_and_name}", @assignment.course %></p>

<h2>Grade <%= @assignment.name %></h2>

<p class="<%= status.text_class %>">
  <span class="label <%= status.label_class %>"><%= status.name %></span>
  Due <%= date_abbreviation(@assignment.due_at) %> at <%= time_abbreviation(@assignment.due_at) %>
</p>

<% if @assignment.grades_released.blank? %>
  <p class="text-error">You have not yet released these grades.</p>
<% else %>
  <p class="text-success">These grades have been released.</p>
<% end %>

<%= form_tag grade_assignment_path(@assignment) do %>

  <% @assignment.assignment_questions.each_with_index do |q, i| %>
    <p class="lead">Question <%= i+1 %> (<%= q.points %> points):</p>
    <%= markdown(q.question) %>

    <% q.assignment_question_grades.submitted.each_with_index do |aqg, j| %>
      <div class="row">
        <div class="span6 muted divided">
          <p><strong>Answer <%= i+1 %>-<%= j+1 %></strong></p>
          <%= simple_format(aqg.answer) %>
        </div>
        <div class="span6 muted divided">
          <p><strong>Grade for Answer <%= i+1 %>-<%= j+1 %></strong></p>
          <p>
            <span class="field-label">Points (out of <%= q.points %>)</span>
            <%= text_field_tag "grades[#{aqg.id}][grade]", aqg.grade, class: "input-small" %>
          </p>
          <p>
            <span class="field-label">Comments</span>
            <%= text_area_tag("grades[#{aqg.id}][comments]", aqg.comments, rows: 8, class: "input-xlarge") %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>

  <p>
    <span class="field-label">Maximum Grade</span>
    <%= text_field_tag "maximum_grade", @assignment.maximum_grade, class: "input-small" %>
  </p>

  <p>
    <span class="field-label">Release Grades?</span>
    <%= check_box_tag "grades_released", "Yes", @assignment.grades_released %>
  </p>

  <p><%= submit_tag "Save Scores and Comments", class: "btn" %></p>

<% end %>