<h2><%= @assignment.course.course_code %> <%= @assignment.name %></h2>

<p class="muted">Due: <%= date_abbreviation(@assignment.due_at) %> at <%= time_abbreviation(@assignment.due_at) %></p>

<% @assignment.assignment_questions.each do |q| %>
  <p class="lead">Question <%= q.order_number %> (<%= q.points %> points):</p>
  <%= markdown(q.question) %>
<% end %>

<%= link_to "<< Back to Course", course_path(@assignment.course) %>