<h2>Change Password</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :email do %>
    <span class="field-label">Email</span>
    <div class="input-prepend">
      <span class="add-on">@</span>
      <%= f.email_field :email, required: true, autofocus: true %>
    </div>
  <% end %>

  <%= f.label :current_password do %>
    <span class="field-label">Old Password</span>
    <div class="input-prepend">
      <span class="add-on"><i class="fa fa-key muted"></i></span>
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>
  <% end %>

  <%= f.label :password do %>
    <span class="field-label">New Password</span>
    <div class="input-prepend">
      <span class="add-on"><i class="fa fa-key"></i></span>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    <span class="help-inline">(leave blank to make no changes)</span>
  <% end %>

  <%= f.label :password_confirmation do %>
    <span class="field-label">New Password</span>
    <div class="input-prepend">
      <span class="add-on"><i class="fa fa-key"></i></span>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
    <span class="help-inline">(confirm new password)</span>
  <% end %>

  <div><%= f.submit "Update", class: "btn"%></div>
<% end %>