<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-error">
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :title do %>
    <span class="field-label">Title</span> <%= f.text_field :title, class: "input-small" %>
    <span class="help-inline">e.g. "Dr."</span>
  <% end %>

  <%= f.label :first_name do %>
    <span class="field-label">First name</span> <%= f.text_field :first_name, required: true %>
  <% end %>

  <%= f.label :middle_name do %>
    <span class="field-label">Middle name</span> <%= f.text_field :middle_name %>
  <% end %>

  <%= f.label :last_name do %>
    <span class="field-label">Last name</span> <%= f.text_field :last_name, required: true %>
  <% end %>

  <%= f.label :email do %>
    <span class="field-label">Email</span>
    <div class="input-prepend">
      <span class="add-on">@</span>
      <%= f.text_field :email, type: "email", required: true %>
    </div>
  <% end %>

  <%= f.label :code do %>
    <span class="field-label">Code</span>
    <div class="input-prepend">
      <span class="add-on"><i class="fa fa-barcode"></i></span>
      <%= f.text_field :code %>
    </div>
  <% end %>

  <%= f.label :phone do %>
    <span class="field-label">Phone number</span>
    <div class="input-prepend">
      <span class="add-on"><i class="fa fa-phone"></i></span>
      <%= f.text_field :phone, placeholder: 'e.g. "(111) 222-3333"' %>
    </div>
  <% end %>

  <%= f.label :office do %>
    <span class="field-label">Office</span>
    <div class="input-prepend">
      <span class="add-on"><i class="fa fa-building-o"></i></span>
      <%= f.text_field :office %>
    </div>
  <% end %>

  <%= f.label :office_hours do %>
    <span class="field-label">Office hours</span>
    <div class="input-prepend">
      <span class="add-on"><i class="fa fa-calendar"></i></span>
      <%= f.text_field :office_hours, class: "span4" %>
    </div>
  <% end %>

  <%= f.label :photo_url do %>
    <span class="field-label">Photo URL</span>
    <div class="input-prepend">
      <span class="add-on"><i class="fa fa-picture-o"></i></span>
      <%= f.text_field :photo_url, class: "span4", placeholder: "(must start with http or https)" %>
    </div>
  <% end %>

  <%= f.label :description do %>
    <span class="field-label">Description</span> <%= f.text_area :description, class: "span5", rows: 5 %>
  <% end %>

  <% if current_user.admin %>
    <%= f.label :school_id do %>
      <span class="field-label">School</span>
      <%= f.select :school_id, School.all.collect {|s| [ s.name, s.id ] }, {include_blank: 'Not Listed'} %>
    <% end %>
  <% end %>

  <%= f.submit class: "btn" %>

<% end %>
