<% if current_user.admin %>
  <h2><i class="icon-thumbs-up"></i> Instructor Requests</h2>
  <% if (requesting_users = User.want_to_be_instructors).length > 0 %>
    <table class="table table-hover table-condensed">
      <tr>
        <th>Name</th>
        <th>E-mail</th>
        <th>Phone</th>
        <th>School</th>
        <th># Courses Taken</th>
        <th>Acct Created</th>
        <th></th>
      </tr>
      <% requesting_users.each do |u| %>
        <tr>
          <td><%= u.full_name %></td>
          <td><%= u.email %></td>
          <td><%= u.phone %></td>
          <td><%= u.school_name %></td>
          <td><%= u.number_of_courses_taken %></td>
          <td><%= u.created_at.to_date %></td>
          <td class="text-right">
            <%= link_to 'Approve', approve_as_instructor_user_path(u), method: :post, class: "btn btn-mini btn-success" %>
            <%= link_to 'Reject', reject_as_instructor_user_path(u), method: :post, class: "btn btn-mini btn-warning" %>
            <%= link_to 'Delete User Entirely', u, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini btn-danger" %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p class="lead">There are no outstanding requests.</p>
  <% end %>
  <div class="spacer"></div>
<% end %>


<% if current_user.wants_to_be_instructor && !current_user.instructor %>
  <h2><i class="icon-group"></i> Your Instructor Request</h2>
  <p class="lead">Your request is being reviewed.  Please check back later.</p>

  <div class="spacer"></div>
<% end %>


<% if current_user.instructor %>
  <h2><i class="icon-group"></i> Courses I'm Teaching</h2>
  <% if (courses_taught = current_user.courses_taught).length > 0 %>
    <% courses_taught.each do |c| %>
      <a href="<%= course_path(c) %>">
        <%= render partial: "/courses/summary_box", locals: {course: c, header: false} %>
      </a>
    <% end %>
  <% else %>
    <p class="lead">Create a course below or ask the instructor of an existing course to add you.</p>
  <% end %>
  <h3><%= link_to '<i class="icon-plus"></i> Create New Course'.html_safe, new_course_path, class: "btn btn-success" %></h3>

  <div class="spacer"></div>
<% end %>


<h2><i class="icon-lightbulb"></i> Courses I'm Taking</h2>
<% if (courses_taken = current_user.courses_taken).length > 0 %>
  <% courses_taken.each do |c| %>
    <a href="<%= course_path(c) %>">
      <%= render partial: "/courses/summary_box", locals: {course: c, header: false} %>
    </a>
  <% end %>

  <div class="spacer"></div>
<% else %>
  <p class="lead">You are not currently enrolled in any courses.  Consider joining one of these:</p>
  <ul>
    <% Course.example_courses.each do |c| %>
      <li><%= link_to c.code_and_name, course_path(c) %></li>
    <% end %>
  </ul>
<% end %>


<% if (assignments_to_complete = current_user.overdue_or_active_assignments).length > 0 %>
  <h2><i class="icon-pencil"></i> My Assignments</h2>
  <table class="table table-hover table-condensed">
    <tr>
      <th>Course</th>
      <th>Due</th>
      <th>Time</th>
      <th>Name</th>
      <th>Status</th>
      <th>% of Grade</th>
      <th></th>
    </tr>
    <% assignments_to_complete.each do |a| %>
    <tr>
      <td><%= a.course_code_and_name %></td>
      <td><%= date_abbreviation(a.due_at) %></td>
      <td><%= time_abbreviation(a.due_at) %></td>
      <td><%= a.name %></td>
      <td><span class="label <%= a.status(current_user).label_class %>">
        <%= a.status(current_user).name %>
      </span></td>
      <td><%= percentage(a.fraction_of_grade) %></td>
      <td>
        <%= render partial: "assignments/row_buttons", locals: {assignment: a} %>
      </td>
    </tr>
    <% end %>
  </table>
<% end %>
