<% if current_user.wants_to_be_instructor && !current_user.instructor %>
  <h2><i class="fa fa-group"></i> Your Instructor Request</h2>
  <p class="lead">Your request is being reviewed.  Please check back later.</p>

  <div class="spacer"></div>
<% end %>

<div class="float-right">
  <div class="spacer"></div>
  <% if params[:show_all] %>
    <%= link_to "<i class='fa fa-undo'></i> Hide older classes".html_safe, "/" %>
  <% else %>
    <%= link_to "<i class='fa fa-clock-o'></i> Show older classes".html_safe, "/?show_all=true" %>
  <% end %>
  <% courses_taught = (params[:show_all] ? current_user.courses_taught : current_user.courses_taught.active) %>
</div>


<% if current_user.instructor %>
  <h2><i class="fa fa-group"></i> Courses I'm Teaching</h2>

  <% if courses_taught.length > 0 %>
    <% courses_taught.each do |c| %>
      <a href="<%= course_path(c) %>" class="summary-link">
        <%= render partial: "/courses/summary_box", locals: {course: c, header: false} %>
      </a>
      <div class="tiny-spacer"></div>
    <% end %>
  <% else %>
    <p class="lead">Create a course below or ask the instructor of an existing course to add you as a co-instructor.</p>
  <% end %>
  <h3><%= link_to '<i class="fa fa-plus"></i> Create New Course'.html_safe, new_options_courses_path, class: "btn btn-success" %></h3>

  <div class="spacer"></div>
<% end %>


<h2><i class="fa fa-lightbulb-o"></i> Courses I'm Taking</h2>
<% courses_taken = (params[:show_all] ? current_user.courses_taken : current_user.courses_taken.active) %>

<% if courses_taken.length > 0 %>
  <% courses_taken.each do |c| %>
    <a href="<%= course_path(c) %>">
      <%= render partial: "/courses/summary_box", locals: {course: c, header: false} %>
    </a>
    <div class="tiny-spacer"></div>
  <% end %>

  <div class="spacer"></div>

  <h2><i class="fa fa-pencil"></i> My Assignments</h2>

  <% if (assignments_to_complete = current_user.overdue_or_active_assignments).length > 0 %>
    <table class="table table-hover table-condensed">
      <tr>
        <th>Course</th>
        <th>Due</th>
        <th>Time</th>
        <th>Name</th>
        <th>Status</th>
        <th>% of Grade</th>
        <th></th>
      </tr>
      <% assignments_to_complete.each do |a| %>
      <tr>
        <td style="color: <%= a.course_color %>;"><%= a.course_code_and_name %></td>
        <td><%= date_abbreviation(a.due_at) %></td>
        <td><%= time_abbreviation(a.due_at) %></td>
        <td><%= a.name %></td>
        <td><span class="label <%= a.status(current_user).label_class %>">
          <%= a.status(current_user).name %>
        </span></td>
        <td><%= percentage(a.percent_of_grade) %></td>
        <td>
          <%= render partial: "assignments/row_buttons", locals: {assignment: a} %>
        </td>
      </tr>
      <% end %>
    </table>
  <% else %>
    <p class="lead">You have no assignments that are currently active or overdue.  Well done!</p>
  <% end %>

<% else %>
  <p class="lead">You are not currently enrolled in any courses.  Consider joining one of these:</p>
  <ul>
    <% Course.example_courses.each do |c| %>
      <li><%= link_to c.code_and_name, course_path(c) %></li>
    <% end %>
  </ul>
<% end %>


