<% something_showing = false %>

<% if (courses_taught = current_user.courses_taught).length > 0 %>
  <% something_showing = true %>
  <h2><i class="icon-group"></i> My Teaching</h2>
  <% courses_taught.each do |c| %>
    <%= render partial: "/courses/summary_box", locals: {course: c, header: false} %>
  <% end %>
<% end %>


<% if (courses_taken = current_user.courses_taken).length > 0 %>
  <% something_showing = true %>
  <h2><i class="icon-lightbulb"></i> My Current Classes</h2>
  <% courses_taken.each do |c| %>
    <%= render partial: "/courses/summary_box", locals: {course: c, header: false} %>
  <% end %>
<% end %>

<div class="spacer"></div>

<% if (assignments_taught = current_user.assignments_given.recent_and_soon).length > 0 %>
  <% something_showing = true %>
  <h2><i class="icon-pencil"></i> Things I've Assigned</h2>
  <table class="table table-hover table-condensed">
    <tr>
      <th>Course</th>
      <th>Start</th>
      <th>Due</th>
      <th>Name</th>
      <th>Status</th>
      <th></th>
    </tr>
    <% assignments_taught.each do |a| %>
    <tr>
      <td style="color: <%= a.course_color %>;"><%= a.course_code_and_name %></td>
      <td><%= date_abbreviation(a.active_at) %></td>
      <td><%= date_abbreviation(a.due_at) %></td>
      <td><%= a.name %></td>
      <td><span class="label <%= a.status(current_user).label_class %>">
        <%= a.status(current_user).name %>
      </span></td>
      <td class="muted">
        <i class="icon-pencil"></i>
        <i class="icon-bar-chart"></i>
      </td>
    </tr>
    <% end %>
  </table>
<% end %>


<% if (assignments_taken = current_user.assignments_taken.active).length > 0 %>
  <% something_showing = true %>
  <p class="lead"><i class="icon-pencil"></i> Things to Do</p>
  <table class="table table-hover table-condensed">
    <tr>
      <th>Course</th>
      <th>Due</th>
      <th>Time</th>
      <th>Name</th>
      <th>Status</th>
      <th>% of Grade</th>
      <th></th>
    </tr>
    <% assignments_taken.each do |a| %>
    <tr>
      <td><%= a.course_code_and_name %></td>
      <td><%= date_abbreviation(a.due_at) %></td>
      <td><%= time_abbreviation(a.due_at) %></td>
      <td><%= a.name %></td>
      <td><span class="label <%= a.status(current_user).label_class %>">
        <%= a.status(current_user).name %>
      </span></td>
      <td><%= percentage(a.fraction_of_grade) %></td>
      <td class="muted">
        <i class="icon-pencil"></i>
        <i class="icon-bar-chart"></i>
      </td>
    </tr>
    <% end %>
  </table>
<% end %>

<% unless something_showing %>

  <p class="lead"><i class="icon-warning-sign"></i> You have no courses.  Please contact an instructor to be added.</p>

  <p>In the meantime, take a look at some of the courses underway:</p>

  <ul>
    <% Course.example_courses.each do |c| %>
      <li><%= link_to c.code_and_name, course_path(c) %></li>
    <% end %>
  </ul>
<% end %>
