<h2>Change Password for <%= @student.full_name %></h2>

<%= form_for(@student, url: change_password_course_student_path) do |f| %>
  <% if @student.errors.any? %>
    <div class="alert alert-error">
      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :password do %>
    <span class="field-label">New Password</span>
    <div class="input-prepend">
      <span class="add-on"><i class="fa fa-key"></i></span>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    <span class="help-inline">(leave blank to make no changes)</span>
  <% end %>

  <%= f.label :password_confirmation do %>
    <span class="field-label">New Password</span>
    <div class="input-prepend">
      <span class="add-on"><i class="fa fa-key"></i></span>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
    <span class="help-inline">(confirm new password)</span>
  <% end %>

  <div><%= f.submit "Change Password", class: "btn" %></div>
<% end %>