<%= form_for(@lesson) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course_id %><br>
    <%= f.number_field :course_id %>
  </div>
  <div class="field">
    <%= f.label :parent_lesson_id %><br>
    <%= f.number_field :parent_lesson_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :held_at %><br>
    <%= f.datetime_select :held_at %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :outline %><br>
    <%= f.text_area :outline %>
  </div>
  <div class="field">
    <%= f.label :lead_in_question %><br>
    <%= f.text_area :lead_in_question %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
