<%= form_for(@lesson) do |f| %>
  <% if @lesson.errors.any? %>
    <div class="alert alert-error">
      <ul>
      <% @lesson.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :course_id %>

  <%= f.label :name do %>
    <span class="field-label">Lesson Name</span> <%= f.text_field :name, required: true %>
  <% end %>

  <%= f.label :parent_lesson_id do %>
    <span class="field-label">Parent Lesson</span> <%= f.text_field :parent_lesson_id, class: 'input-small' %>
  <% end %>

  <%= f.label :held_at do %>
    <span class="field-label">Day/Time</span> <%= f.text_field :held_at, required: true, value: db_datetime_string(@lesson.held_at) %>
    <span class="help-inline">e.g. "2000-01-01 14:00"</span>
  <% end %>

  <%= f.label :description do %>
    <span class="field-label">Description</span> <%= f.text_area :description, class: 'input-xxlarge' %>
  <% end %>

  <%= f.label :lead_in_question do %>
    <span class="field-label">Daily Question</span> <%= f.text_area :lead_in_question, rows: 3, class: 'input-xxlarge' %>
  <% end %>

  <%= f.label :outline do %>
    <span class="field-label">Lesson Outline</span> <%= f.text_area :outline, rows: 5, class: 'input-xxlarge' %>
  <% end %>

  <%= f.label :video_url do %>
    <span class="field-label">Video URL</span> <%= f.text_field :video_url, class: 'input-xxlarge' %>
  <% end %>

  <h3>Pre-Class Readings</h3>
  <p class="lead">If you would like to tell students what to read without linking to something, leave the URL field blank.</a></p>
  <% i = 0 %>
  <div class="associations">
    <%= f.fields_for :readings do |ff| %>
      <div class="association container">
        <div class="row">
          <div class="span2">
            <%= ff.label :order_number do %>
              <strong class="small-field-label">Order</strong> <%= ff.text_field :order_number, class: "input-small" %>
            <% end %>
          </div>
          <div class="span8">
            <%= ff.text_field :caption, class: "input-xxlarge", placeholder: "Caption/Text" %>
            <%= ff.text_field :url, class: "input-xxlarge", placeholder: "URL (must start with http(s))" %>
          </div>
          <div class="span1">
            <% if ff.object.persisted? %>
              <%= link_to 'Delete', nil, class: "btn btn-danger delete-association" %>
              <%= ff.check_box :_destroy, class: "destroy", hidden: true %>
            <% else %>
              <%= link_to 'Delete', nil, class: "btn btn-danger flush-association" %>
            <% end %>
          </div>
        </div>
      </div>
      <% i += 1 %>
    <% end %>
  </div>
  <%= link_to '<i class="icon-plus"></i> Add Reading'.html_safe, nil, class: "btn btn-success new-association", "data-index" => i %>

  <div class="actions">
    <%= f.submit class: "btn" %>
  </div>
<% end %>
