<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @lesson.course_id %>
</p>

<p>
  <strong>Parent lesson:</strong>
  <%= @lesson.parent_lesson_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @lesson.name %>
</p>

<p>
  <strong>Held at:</strong>
  <%= @lesson.held_at %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lesson.description %>
</p>

<p>
  <strong>Lead in reading:</strong>
  <%= @lesson.lead_in_reading %>
</p>

<p>
  <strong>Lead in question:</strong>
  <%= @lesson.lead_in_question %>
</p>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
