<div class="hero-unit">
  <h1>Coursyl</h1>
  <p>A syllabus-based window into your courses, assignments, lectures, and grades.</p>
</div>


<div class="row">
  <div class="span4">
    <h2>Why use Coursyl?</h2>
    <p>Okay, it's true: your instructors or supervisors may not give you a choice.  Other than that,
      <strong>if you're a student</strong> you might use Coursyl because you can:</p>
    <ul>
      <li>See your current grade</li>
      <li>See your final grade if you ace everything else</li>
      <li>See your final grade if you move to Maui now</li>
      <li>Submit assignments and get grades fast</li>
      <li>View upcoming lessons in a cool topical tree</li>
      <li>Watch lectures, review slides, and catch up on what you may have missed</li>
    </ul>
    <p><strong>If you're an instructor</strong> you might use Coursyl because you can:</p>
    <ul>
      <li>Create beautiful, sharable syllabi</li>
      <li>Grade anonymously</li>
      <li>Quickly adapt schedules for extra time on a lesson, delays due to snow, or a different group of students next semester</li>
    </ul>
  </div>

  <div class="span4">
    <h2>Example Courses</h2>
    <p>Here are some of the courses that use Coursyl:</p>
    <ul>
      <% Course.example_courses.each do |c| %>
        <li><%= link_to c.code_and_name, course_path(c) %></li>
      <% end %>
    </ul>
    <p><a class="btn" href="/users/sign_up">Sign Up to Get Started</a></p>
  </div>

  <div class="span4">
    <h2>Sign In</h2>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div class="input-prepend">
        <span class="add-on">@</span>
        <%= f.email_field :email, required: true, autofocus: true, placeholder: "Email Address" %>
      </div>

      <div class="input-prepend">
        <span class="add-on"><i class="fa fa-key"></i></span>
        <%= f.password_field :password, required: true, placeholder: "Password" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="inline-check-box"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
      <% end -%>

      <div><%= f.submit "Sign In".html_safe, class: "btn" %></div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>

