<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div class="alert alert-error">
      <ul>
      <% @lesson.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :term_id do %>
    <span class="field-label">Term</span>
    <%= f.select :term_id, Term.for_school_id(current_user.school_id).collect {|s| [ s.name, s.id ] }, required: true %>
  <% end %>

  <%= f.label :course_code do %>
    <span class="field-label">Course Code</span> <%= f.text_field :name, class: 'input-small' %>
    <span class="help-inline">e.g. "CS310"</span>
  <% end %>

  <%= f.label :name do %>
    <span class="field-label">Course Name</span> <%= f.text_field :course_code, required: true %>
  <% end %>

  <%= f.label :period do %>
    <span class="field-label">Meeting Times</span> <%= f.text_field :period, required: true %>
  <% end %>

  <%= f.label :color do %>
    <span class="field-label">Color</span> <%= f.text_field :color, required: true, class: 'input-small' %>
    <span class="help-inline">e.g. "#FF0000" (<a target="blank" href="http://www.w3schools.com/tags/ref_colorpicker.asp">Color Picker</a>)</span>
  <% end %>

  <%= f.label :description do %>
    <span class="field-label">Description</span> <%= f.text_area :description, required: true, class: 'input-xxlarge', rows: 10 %>
  <% end %>

  <div class="actions">
    <%= f.submit class: "btn" %>
  </div>
<% end %>
