<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div class="alert alert-error">
      <ul>
      <% @lesson.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :course_code do %>
    <span class="field-label">Course Code</span> <%= f.text_field :name, required: true, class: 'input-small' %>
    <span class="help-inline">e.g. "CS310"</span>
  <% end %>

  <%= f.label :name do %>
    <span class="field-label">Course Name</span> <%= f.text_field :course_code, required: true %>
  <% end %>

  <%= f.label :period do %>
    <span class="field-label">Period</span> <%= f.text_field :period, required: true %>
  <% end %>

  <%= f.label :color do %>
    <span class="field-label">Color</span> <%= f.text_field :color, required: true, class: 'input-small' %>
    <span class="help-inline">e.g. "#FF0000" (Use this picker to find a color)</span>
  <% end %>

  <%= f.label :description do %>
    <span class="field-label">Description</span> <%= f.text_area :description, required: true, class: 'input-xxlarge', rows: 10 %>
  <% end %>

  <div class="actions">
    <%= f.submit class: "btn" %>
  </div>
<% end %>
