<style>
#course-<%= course.id %> {
  background: <%= course.color %>;
  background-image: -webkit-linear-gradient(45deg, <%= course.color %> 0%,#FFFFFF 100%);
  background-image: -moz-linear-gradient(45deg, <%= course.color %> 0%,#FFFFFF 100%);
  background-image: -ms-linear-gradient(45deg, <%= course.color %> 0%,#FFFFFF 100%);
  background-image: -o-linear-gradient(45deg, <%= course.color %> 0%,#FFFFFF 100%);
  background-image: linear-gradient(45deg, <%= course.color %> 0%,#FFFFFF 100%);
}
</style>
<div class="container course-summary <%= header ? 'course-summary-fixed': 'course-summary-small' %>" id="course-<%= course.id %>">
  <div class="row">
    <div class="span9">
      <h<%= 3-(header ? 1 : 0) %>>
        <%= course.code_and_name %>
      </h<%= 3-(header ? 1 : 0) %>>
      <p class="lead muted">
        <% if course.old? %>
          <i class="fa fa-clock-o"></i> <%= course.term.name %>
        <% else %>
          <%= course.instructor_names %>
        <% end %>
      </p>
      <% if header %>
        <nav class="navbar smooth-nav">
          <div class="navbar-inner">
            <ul class="nav">
              <li><%= link_to "Description", '#anchor-description' %></li>
              <li class="divider-vertical"></li>
              <% if current_user && current_user.teaching?(@course) %>
                <li><%= link_to "Students", '#anchor-students' %></li>
                <li class="divider-vertical"></li>
              <% end %>
              <% if @course.achievement_grading? %>
                <li><%= link_to "Achievements", '#anchor-achievements' %></li>
              <% else %>
                <li><%= link_to "Assignments", '#anchor-assignments' %></li>
              <% end %>
              <li class="divider-vertical"></li>
              <li><%= link_to "Lessons", '#anchor-lessons' %></li>
              <li class="divider-vertical"></li>
              <li><%= link_to "Policies", '#anchor-policies' %></li>
            </ul>
          </div>
        </nav>
      <% end %>
    </div>
    <div class="span2 text-center">
      <% if current_user %>
        <% if current_user.enrolled?(course) %>
          <% if course.achievement_grading? %>
            <br />
            <h<%= 3-(header ? 1 : 0) %>>
              <%= current_user.letter_grade(course) %> <small>(<%= number_with_precision(current_user.grade(course), precision: 0) %> pts)</small>
            </h<%= 3-(header ? 1 : 0) %>>
          <% else %>
            <% percent_graded = percentage(current_user.percent_graded(course)) -%>
            <h<%= 3-(header ? 1 : 0) %>>
              <%= current_user.letter_grade(course) %> <small>(<%= number_with_precision(current_user.grade(course), precision: 1) %>)</small>
            </h<%= 3-(header ? 1 : 0) %>>
            <% if header %>
              <small class="muted">Possible:
                <%= number_with_precision(current_user.min_grade(course), precision: 1) %> -
                <%= number_with_precision(current_user.max_grade(course), precision: 1) %>
              </small>
            <% end %>
            <div class="progress">
              <div class="bar bar-success" style="width: <%= percent_graded %>;"></div>
            </div>
            <small class="progress-overlay"><%= percent_graded %> graded</small>
          <% end %>
        <% elsif current_user.teaching?(course) %>
          <% unless course.achievement_grading? %>
            <% percent_graded = percentage(course.assignment_statuses(current_user).first.percent) -%>
            <% percent_ungraded = percentage(course.assignment_statuses(current_user).second.percent) -%>
            <div class="progress progress-striped">
              <div class="bar bar-success" style="width: <%= percent_graded %>;"></div>
              <div class="bar bar-danger" style="width: <%= percent_ungraded %>;"></div>
            </div>
            <small class="muted"><%= percent_graded %> graded</small><br/>
            <small class="<%= percent_ungraded == '0%' ? 'muted' : 'text-error' %>"><%= percent_ungraded %> waiting to be graded</small>
          <% end %>
        <% else %>
          <br/>
          <%= link_to "<i class='fa fa-plus'></i>".html_safe + " Enroll in #{course.course_code}",
            register_course_path(id: @course.id, student_id: current_user.id), method: :post, class: "btn btn-success" %>
        <% end %>
      <% else %>
        <br/>
        <p class="muted">Want to enroll?<br/><%= link_to "Sign up for Coursyl", new_user_registration_path %></p>
      <% end %>
    </div>
  </div>
</div>