<% completion_fractions = @course.completion_fractions -%>
<% assignment_statuses = AssignmentStatus.all_statuses_ordered -%>
<% percent_complete = percentage(completion_fractions[AssignmentStatus.complete_string]) -%>

<header class="fixed-header">
  <div class="container">
    <div class="row">
      <div class="span9">
        <h2>
          <%= @course.course_code %>: <%= @course.name %>
        </h2>
        <p class="lead">
          <%= @course.primary_instructor_name %>
        </p>
        <nav class="navbar">
          <div class="navbar-inner">
            <ul class="nav">
              <li><%= link_to "Description", '#anchor-description' %></li>
              <li class="divider-vertical"></li>
              <li><%= link_to "Assignments", '#anchor-assignments' %></li>
              <li class="divider-vertical"></li>
              <li><%= link_to "Lessons", '#anchor-lessons' %></li>
              <li class="divider-vertical"></li>
              <li><%= link_to "Policies", '#anchor-policies' %></li>
            </ul>
          </div>
        </nav>
      </div>
      <% if @enrollment %>
        <div class="span2 text-center">
          <h2>
            A <small>(96)</small>
          </h2>
          <small class="muted">Min: 38 - Max: 98</small>
          <div class="progress">
            <div class="bar bar-success" style="width: 40%<% percent_complete %>;"></div>
          </div>
          <small class="muted">40%<% percent_complete %> graded</small>
        </div>
      <% end %>
    </div>
  </div>
</header>

<section id="first-section">
  <a id="anchor-description" class="anchor-course"></a>
  <h3>Course Description</h3>
  <p class="muted">Meeting Times: <%= @course.period %></p>
  <%= markdown(@course.description) %>
</section>

<section>
  <a id="anchor-assignments" class="anchor-course"></a>
  <h3>Assignments</h3>
  <div class="progress progress-striped">
    <% assignment_statuses.each do |status| %>
    <div class="bar <%= status.bar_class %>"
      style="width: <%= percentage(completion_fractions[status.name]) %>;"></div>
    <% end %>
  </div>
  <ul class="inline text-center">
    <% assignment_statuses.each do |status| %>
    <li class="<%= status.text_class %>">
      <span class="label <%= status.label_class %>">
        <%= status.name %>
      </span>
      <%= percentage(completion_fractions[status.name]) %>
    </li>
    <% end %>
  </ul>
  <table class="table table-hover table-condensed">
    <tr>
      <th>Due</th>
      <th>Time</th>
      <th>Name</th>
      <th>Status</th>
      <th>% of Grade</th>
      <th></th>
    </tr>
    <% @course.assignments.each do |a| %>
    <tr>
      <td><%= a.due_at.strftime("%m/%d") %></td>
      <td><%= a.due_at.strftime("%l:%M %p") %></td>
      <td><%= a.name %></td>
      <td><span class="label <%= a.status(@user).label_class %>">
        <%= a.status(@user).name %>
      </span></td>
      <td><%= percentage(a.fraction_of_grade) %></td>
      <td class="muted">
        <i class="icon-pencil"></i>
        <i class="icon-bar-chart"></i>
      </td>
    </tr>
    <% end %>
  </table>
</section>

<section>
  <a id="anchor-lessons" class="anchor-course"></a>
  <h3>Lessons</h3>
  <div id="lesson-tree-anchor"></div>
  <div id="lesson-tree-wrapper">
    <div id="lesson-tree" class="well"></div>
  </div>
  <script>
    var tree = new TreeGenerator(<%= @course.lesson_tree.to_json.html_safe %>);
    tree.buildTree("#lesson-tree");
  </script>
  <table class="table table-hover table-condensed">
    <tr>
      <th>Day</th>
      <th>Date</th>
      <th>Time</th>
      <th>Name</th>
      <th></th>
    </tr>
    <% @course.lessons.each do |l| %>
    <tr heldat="<%= l.held_at_integer %>" class="node">
      <td><strong><%= weekday_abbreviation(l.held_at) %></strong></td>
      <td><%= l.held_at.strftime("%m/%d") %></td>
      <td><%= l.held_at.strftime("%l:%M %p") %></td>
      <td><%= l.name %></td>
      <td class="muted">
        <i class="icon-eye-open"></i>
        <i class="icon-edit"></i>
        <i class="icon-facetime-video"></i>
      </td>
    </tr>
    <% end %>
  </table>
  <div id="lesson-bottom-anchor"></div>
</section>

<section>
  <a id="anchor-policies" class="anchor-course"></a>
  <h3>Course Details and Policies</h3>
  <dl class="dl-horizontal">
    <% @course.policies.each do |p| %>
    <dt><%= p.name %></dt>
    <dd><%= markdown(p.description) %></dd>
    <% end %>
  </dl>
</section>