<% completion_fractions = @course.completion_fractions -%>
<% percent_complete = percentage(completion_fractions["Complete"]) -%>
<header class="fixed-header">
  <div class="container">
    <div class="row">
      <div class="span9">
        <h2>
          <%= @course.course_code %>: <%= @course.name %>
        </h2>
        <p class="lead">
          <%= @course.primary_instructor_name %>
        </p>
        <nav class="navbar">
          <div class="navbar-inner">
            <ul class="nav">
              <li><%= link_to "Description" %></li>
              <li class="divider-vertical"></li>
              <li><%= link_to "Assignments" %></li>
              <li class="divider-vertical"></li>
              <li><%= link_to "Lessons" %></li>
              <li class="divider-vertical"></li>
              <li><%= link_to "Policies" %></li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="span2 text-center">
        <h2>
          A <small>(96)</small>
        </h2>
        <div class="progress">
          <div class="bar bar-success" style="width: <%= percent_complete %>;"></div>
        </div>
        <small class="muted"><%= percent_complete %> graded<br/>Possible Grades: 38-99</small>
      </div>
    </div>
  </div>
</header>

<section id="first-section">
  <h3>Course Description</h3>
  <p class="muted">Meeting Times: <%= @course.period %></p>
  <%= markdown(@course.description) %>
</section>

<section>
  <h3>Assignments</h3>
  <div class="progress progress-striped">
    <% ["Complete", "In Progress", "Overdue", "Future"].each do |status| %>
    <div class="bar <%= status_bar_class(status)%>"
      style="width: <%= percentage(completion_fractions[status]) %>;"></div>
    <% end %>
  </div>
  <ul class="inline text-center">
    <% ["Complete", "In Progress", "Overdue", "Future"].each do |status| %>
    <li class="<%= status_text_class(status)%>">
      <span class="label <%= status_label_class(status)%>">
        <%= status %>
      </span>
      <%= percentage(completion_fractions[status]) %>
    </li>
    <% end %>
  </ul>
  <table class="table table-hover table-condensed">
    <tr>
      <th>Due</th>
      <th>Time</th>
      <th>Name</th>
      <th>Status</th>
      <th>% of Grade</th>
      <th></th>
    </tr>
    <% @course.assignments.each do |a| %>
    <tr>
      <td><%= a.due_at.strftime("%m/%d") %></td>
      <td><%= a.due_at.strftime("%l:%M %p") %></td>
      <td><%= a.name %></td>
      <td><span class="label <%= status_label_class(a.status(@user))%>">
        <%= a.status(@user) %>
      </span></td>
      <td><%= percentage(a.fraction_of_grade) %></td>
      <td class="muted">
        <i class="icon-pencil"></i>
        <i class="icon-bar-chart"></i>
      </td>
    </tr>
    <% end %>
  </table>
</section>

<section>
  <h3>Lessons</h3>
  <%= render "tree" %>
  <div id="lesson-tree-anchor"></div>
  <div id="lesson-tree-wrapper">
    <div id="lesson-tree" class="well"></div>
  </div>
  <table class="table table-hover table-condensed">
    <tr>
      <th>Day</th>
      <th>Date</th>
      <th>Time</th>
      <th>Name</th>
      <th></th>
    </tr>
    <% @course.lessons.each do |l| %>
    <tr>
      <td><strong><%= weekday_abbreviation(l.held_at) %></strong></td>
      <td><%= l.held_at.strftime("%m/%d") %></td>
      <td><%= l.held_at.strftime("%l:%M %p") %></td>
      <td><%= l.name %></td>
      <td class="muted">
        <i class="icon-eye-open"></i>
        <i class="icon-edit"></i>
        <i class="icon-facetime-video"></i>
      </td>
    </tr>
    <% end %>
  </table>
  <div id="lesson-bottom-anchor"></div>
</section>

<section>
  <h3>Course Details and Policies</h3>
  <dl class="dl-horizontal">
    <% @course.policies.each do |p| %>
    <dt><%= p.name %></dt>
    <dd><%= markdown(p.description) %></dd>
    <% end %>
  </dl>
</section>
