<% assignment_statuses = @course.assignment_statuses -%>

<%= render partial: "summary_box", locals: {course: @course, :header => true}%>

<section id="first-section">
  <a id="anchor-description" class="anchor-course"></a>
  <h3><i class="icon-lightbulb"></i> Course Description</h3>
  <p class="muted">Meeting Times: <%= @course.period %></p>
  <%= markdown(@course.description) %>
</section>

<section>
  <a id="anchor-assignments" class="anchor-course"></a>
  <h3><i class="icon-pencil"></i> Assignments</h3>
  <div class="progress progress-striped">
    <% assignment_statuses.each do |status| %>
    <div class="bar <%= status.bar_class %>"
      style="width: <%= percentage(status.fraction) %>;"></div>
    <% end %>
  </div>
  <ul class="inline text-center">
    <% assignment_statuses.each do |status| %>
    <li class="<%= status.text_class %>">
      <span class="label <%= status.label_class %>">
        <%= status.name %>
      </span>
      <%= percentage(status.fraction) %>
    </li>
    <% end %>
  </ul>
  <table class="table table-hover table-condensed">
    <tr>
      <th>Due</th>
      <th>Time</th>
      <th>Name</th>
      <th>Status</th>
      <th>% of Grade</th>
      <th></th>
    </tr>
    <% @course.assignments.each do |a| %>
    <tr>
      <td><%= a.due_at.strftime("%m/%d") %></td>
      <td><%= a.due_at.strftime("%l:%M %p") %></td>
      <td><%= a.name %></td>
      <td><span class="label <%= a.status(current_user).label_class %>">
        <%= a.status(current_user).name %>
      </span></td>
      <td><%= percentage(a.fraction_of_grade) %></td>
      <td class="muted">
        <i class="icon-pencil"></i>
        <i class="icon-bar-chart"></i>
      </td>
    </tr>
    <% end %>
  </table>
</section>

<section>
  <a id="anchor-lessons" class="anchor-course"></a>
  <h3><i class="icon-time"></i> Lessons</h3>
  <div id="lesson-tree-anchor"></div>
  <div id="lesson-tree-wrapper">
    <div id="lesson-tree" class="well"></div>
  </div>
  <script>
    var tree = new TreeGenerator(<%= @course.lesson_tree.to_json.html_safe %>);
    tree.buildTree("#lesson-tree");
  </script>
  <table class="table table-hover table-condensed">
    <tr>
      <th>Day</th>
      <th>Date</th>
      <th>Time</th>
      <th>Name</th>
      <th></th>
    </tr>
    <% @course.lessons.each do |l| %>
    <tr heldat="<%= l.held_at_integer %>" class="node">
      <td><strong><%= weekday_abbreviation(l.held_at) %></strong></td>
      <td><%= l.held_at.strftime("%m/%d") %></td>
      <td><%= l.held_at.strftime("%l:%M %p") %></td>
      <td><%= l.name %></td>
      <td>
        <% if l.lead_in_reading? && l.past_or_next? %>
          <a href="<%= l.lead_in_reading %>" target="blank"><i class="icon-link" alt="Pre-class Reading"></i></a>
        <% else %>
          <i class="icon-link muted" alt="Pre-class Reading"></i>
        <% end %>
        <i class="icon-paste <%= l.can_be_answered?(current_user) && l.past_or_next? ? '' : 'muted' %>" alt="Daily Question"></i>
        <i class="icon-comment-alt <%= l.in_past? ? '' : 'muted' %>" alt="Lesson Feedback"></i>
        <i class="icon-cloud-download <%= l.in_future? ? 'muted' : '' %>" alt="Lesson Downloads"></i>
      </td>
    </tr>
    <% end %>
  </table>
  <div id="lesson-bottom-anchor"></div>
</section>

<section>
  <a id="anchor-policies" class="anchor-course"></a>
  <h3><i class="icon-comments-alt"></i> Course Details and Policies</h3>
  <dl class="dl-horizontal">
    <% @course.policies.each do |p| %>
    <dt><%= p.name %></dt>
    <dd><%= markdown(p.description) %></dd>
    <% end %>
  </dl>
</section>