<%= link_to '<i class="icon-book"></i> Courses'.html_safe, '/', :class => 'brand' %>
<ul class="nav pull-right">
  <% if user_signed_in? %>
    <% if current_user.admin %>
      <li><%= link_to('Users', users_path) %></li>
    <% end %>
    <li><%= link_to("My Profile", edit_user_path(current_user))  %></li>
    <li><%= link_to('Sign out', "/users/sign_out", method: :delete)  %></li>
  <% else %>
    <li><%= link_to('Sign in', "/users/sign_in")  %></li>
    <li><%= link_to('Sign up', "/users/sign_up")  %></li>
  <% end %>
</ul>