<%= link_to '<i class="icon-book"></i> Courses'.html_safe, '/', :class => 'brand' %>
<ul class="nav pull-right">
  <% if user_signed_in? %>
    <li><%= link_to("User: #{current_user.first_name}", edit_user_path(current_user))  %></li>
    <li><%= link_to('Admin', users_path)  %></li>
    <li><%= link_to('Sign out', "/users/sign_out", method: :delete)  %></li>
  <% else %>
    <li><%= link_to('Sign in', "/users/sign_in")  %></li>
    <li><%= link_to('Sign up', "/users/sign_up")  %></li>
  <% end %>
</ul>